# This configuration file is an actual Python file. Only variables in uppercase
# are recognized as config keys.

KEYBOARD_PATH = '{{ basslinemnk_keyboard_interface }}'
MOUSE_PATH = '{{ basslinemnk_mouse_interface }}'
